.title {
	font-family: arial;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 15px;
}

.paragraph {
	font-family: arial;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 15px;
}

.paragraph-title {
	font-size: 16px;
}